/* __________________________
__________Header___________ */

.is-header-wrapper {
  background-color: #102f54;
  box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, 0.1);
  width: 100%;
  height: 40px;
  display: flex;
  justify-content: space-evenly;
  align-content: center;
  position: fixed;
  z-index: 100;
  padding-bottom: 50px;

  //logo_container
  .logo_container {
    display: flex;
    justify-content: space-between;

    //_app_logo
    ._app_logo {
      margin-top: 10px;
      margin-left: 20px;
      width: 30px;
      height: 30px;
      background: url("../../images/logo.svg") no-repeat;
      background-size: cover;
    }

    // logo_text
    .logo_text {
      width: 240px;
      height: 35px;
      background: url("../../images/logo\ text.svg") 100% 100% no-repeat;
    }
  }
}

a {
  color: #fff;
}

.hamburger_menu ul {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
  background-color: #1a3878;
}

.hamburger_menu li a {
  display: block;
  padding: 20px 20px;
  border-right: 1px solid #201c29;
  text-decoration: none;
}

.hamburger_menu li a:hover,
.hamburger_menu .menu-btn:hover {
  color: #c09f5a;
  font-weight: 500;
}

.hamburger_menu .menu {
  clear: both;
  max-height: 0;
  transition: max-height 0.2s ease-out;
}

/* menu icon */

.hamburger_menu .menu-icon {
  cursor: pointer;
  display: inline-block;
  float: right;
  padding: 28px 20px;
  position: relative;
  user-select: none;
}

.hamburger_menu .menu-icon .navicon {
  background: #a22f47;
  display: block;
  height: 3px;
  position: relative;
  transition: 0.2s ease-out;
  width: 18px;
}

.hamburger_menu .menu-icon .navicon:before,
.hamburger_menu .menu-icon .navicon:after {
  background: #a22f47;
  content: "";
  display: block;
  height: 100%;
  position: absolute;
  transition: all 0.2s ease-out;
  width: 100%;
}

.hamburger_menu .menu-icon .navicon:before {
  top: 5px;
}

.hamburger_menu .menu-icon .navicon:after {
  top: -5px;
}

/* menu btn */

.hamburger_menu .menu-btn {
  display: none;
}

.hamburger_menu .menu-btn:checked ~ .menu {
  max-height: 240px;
}

.hamburger_menu .menu-btn:checked ~ .menu-icon .navicon {
  background: transparent;
}

.hamburger_menu .menu-btn:checked ~ .menu-icon .navicon:before {
  transform: rotate(-45deg);
}

.hamburger_menu .menu-btn:checked ~ .menu-icon .navicon:after {
  transform: rotate(45deg);
}

.hamburger_menu .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
.hamburger_menu .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
  top: 0;
}

/* 48em = 768px */

@media (min-width: 48em) {


  .hamburger_menu li {
    float: left;
  }
  .hamburger_menu li a {
    padding: 20px 30px;
  }
  .hamburger_menu .menu {
    clear: none;
    float: right;
    max-height: none;
  }
  .hamburger_menu .menu-icon {
    display: none;
  }
}


@media only screen   
and (min-width: 1030px)   
and (max-width: 1366px) {

  // .is-header-wrapper {
  //   max-width: 900px;
  //   width: 100%;
  //   margin: 0 auto;
  // }

  .logo_container{
    max-width: 900px;
    width: 100%;
    margin: 0 auto;
  display: flex;
  justify-content: space-between;
  }
  .logo_text{

  }

}