#three {
    // padding: 6em 0 4em 0;÷'
    padding: 20px;
    h5{
        color: #fea900;
        // margin: 0 6px;
        font: normal normal normal 20px/25px Raleway;
        font-weight: 400;
        // font-size: 1.25rem;÷
    }
}

    #three .inner {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

        #three .inner article {
            width: 26%;
            display: block;
        }

            #three .inner article p {
                color: #ffffff;
            }

            #three .inner article .icon {
                color: #b3b3b3;
                font-size: 3em;
            }

        @media screen and (max-width: 980px) {

            #three .inner {
                flex-direction: column;
            }

                #three .inner article {
                    width: 100%;
                    margin: 0 auto;
                }

        }

    @media screen and (max-width: 980px) {

        #three {
            padding: 4em 0 2em 0;
        }

    }

    @media screen and (max-width: 736px) {

        #three {
            padding: 2em 0 0.1em 0;
        }

    }


    // background:   transparent linear-gradient(180deg, #002142 0%, #265082 100%) 0%
    // 0% no-repeat padding-box;


// desins
.site-header {
    width: 100%;
    height: 100vh;
    background: #002142;
    background: linear-gradient(57deg, #002142 ,  #265082 ); 
    clip-path: polygon(0% 0%, 100% 0%, 100% 80%, 0% 100%);

}
    
    
    nav{
        width: 100%; height: 100px;
        /*background-color:  red;*/
        display: flex; color: white;
        
    }
    
    .logo{
        width: 50%;
        height: 100px;
    }
    
    .logo h1{
        line-height: 100px;
        padding-left: 50px;
    }
    
    .menu{
        width: 50%; height: 100px;
    }
    
    .menu ul{
        width: 100%;
        height: 100px;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items:  center;
    }
    
    .menu ul li{
        list-style: none;
        font-size: 12px;
        font-weight: bold;
        text-transform: uppercase;
    }
    

    // herto design start here
    // ++++++++++++++++++++++++
    section{

        display: flex;  
        padding-top: 120px;
    }
    
    .leftside { 
        display: block;
        width: 50%;
        padding-top: 20px;
        // padding-top: 200px;
    //      height: auto; 
    //      overflow: hidden; 
    //      margin-top: 20px;

    span {
        margin-top: 30px;
    }

        .heading_text {
            font-size: 3rem;
            font-weight: bold;
            color:  #fea900;
            text-transform: uppercase;
        }

        .sub_heading_text {
            color: white;
            font-weight: 300;
        }

    }
    
    .leftside img{ 
        //  max-width: 800px; 
        //  width: 100%;
         
        //  height: 500px; 
        
        }
    
    .rightside{ 
        width: 50%; 
        position: relative;
        top: -29px;
        display: flex;
        height: 300px; 
        color: white;
         text-align: center;
        //   margin-top: 80px; 
        //   padding: 40px;
    .banner2 {
        width: 300px;
        height: 400px;
        background-image: url('../images/win\ screen.svg');
        background-size: 100% 100%;
        position: absolute;
        transform: rotate(-5deg);
        left: 100px;
        // bottom: 5px;
        // right: 50px;
        // transform: rotate(-10deg);

        // transform: translate(-320px, -50px);

        width: 300px;
        height: 400px;
        // background-image: url(/static/media/win screen.2d21cc97.svg);
        background-size: 100% 100%;
        position: absolute;
        transform: rotate(7deg);
        left: 176px;

    }
    .banner1 {
        // position: absolute;
        // transform: translateY(45deg);
        width: 300px;
        height: 400px;
        background-image: url("../images/quiz\ screen.svg");
        background-size: 100% 100%;
       

    }
    
    
    
    }
    
    .rightside h1{ text-align: center;
        color: #ffffff;
        font-size: 50px;
        font-weight: 900;
        text-transform: uppercase; } 
    
    .rightside p {  
        font-size: 1.1rem; padding: 30px 0; }
    
    .rightside button{   font-size: 17px;
        font-weight: 600;
        color: white;
        text-transform: uppercase;
        background: linear-gradient(57deg, #00C6A7 , #1E4D92 ); 
        border-radius: 4px 4px 4px 4px;
        padding: 20px 35px ; 
    }
    
    
    
    .rightside button:hover{
          background: linear-gradient(57deg, #1E4D92, #00C6A7 );   
    }


    .hero_pannel {
        max-width: 900px;
        width: 100%;
        margin: 0 auto;
    }