//  default Variables

$hero_padding: 40px;
$__padding: 8px;
$__padding_top_btn: 8px;
$margin_from_div: 20px;
$default_border_radius: 14px;

$default-box-shadow: 0 1px 3px rgba(0,0,0,0.4), 0 1px 2px rgba(0,0,0,0.4);
$default-transition: all 0.3s cubic-bezier(.25,.8,.25,1);

$primary-heading-size: 22px !important;
$primary-heading-font-weight: 500 !important;
$secondary-font-size: 17px !important;
// $para-fonts-size: 19px;

.primary_wrapper {
  background: url("./images/body-bg.png");
  background-attachment: fixed;
  padding-bottom: 20px;


  .sub_heading {
    color: #fea900;
  }

  .down_on_hero {
    position: absolute;
    left: 50%;
    top: 328px;
    transform: translateX(-50%);
  }

  .three_icons {
    min-width: 320px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: $margin_from_div 0;

    .icon {
      width: 110px;
      height: 92px;
      border-radius: $default_border_radius;
    }
    .icon1 {
      background: url("./images/easy.svg") no-repeat;
      background-size: 100% 100%;
    }
    .icon2 {
      background: url("./images/govt.svg") no-repeat;
      background-size: 100% 100%;
    }
    .icon3 {
      background: url("./images/safe.svg") no-repeat;
      background-size: 100% 100%;
    }
  }

  .what_we_do {
    padding: $margin_from_div;
    margin:$margin_from_div 0px;
   
    .para {
      display: flex;
      justify-content: center;
      flex-direction: column;
    }

    .what-we-do-box {
        margin-bottom: 12px !important;
        padding: 0px 12px;
        border-radius: $default_border_radius;

      .sub_heading {
        margin-bottom: 6px;
      }
    }

    .what-we-do-box:last-child{
      margin-bottom: 0px;
    }

  }

  .how_to_play {
    min-width: 320px;
    border-radius: $default_border_radius;
    width: 100%;
    padding: $margin_from_div;
    display: flex;
    justify-content: center;
    background:   transparent linear-gradient(180deg, #002142 0%, #265082 100%) 0%
    0% no-repeat padding-box;

    .sub_heading {
      font: normal normal normal 20px/25px Raleway;
      font-weight: 400;
      margin-bottom: 20px;
    }

    .para {
      color: white;
      padding: $margin_from_div;
      font-size: 12px;
      font-weight: 300;
      li {
        margin-bottom: 5px;
      }
      small {
        font-size: 16px;
        margin-right: 5px;
      }
    }

    h4 {
      padding-top: $margin_from_div;
    }
  }

  .how_to_install {
    min-width: 320px;
    border-radius: $default_border_radius;
    margin-top: $margin_from_div;
    padding: $margin_from_div;
    box-shadow: $default-box-shadow;

    .sub_heading {
      margin-bottom: $margin_from_div;
      font: normal normal normal 20px/25px Raleway;
      font-weight: 400;
    }

    .sub-sec-heading {
      font: normal normal normal 16px/20px Raleway;
      color: #fefefe;
      font-size: 12px;
    }

    .view_list {
      width: 100%;
      display: flex;
      justify-content: space-around;
      margin-bottom: 20px;
    }

    .view_list p {
      width: 120px;
      color: white;
      text-align: left;
      font-weight: 100;
      font-size: 16px;
    }
    .view-content {
      width: 120px;
      height: 224px;
      background: #e9e9e9;
      border: 4px solid #4d4d4d;
      border-radius: 24px;
    }
  }

  /* About  section
  ----------------------*/
  .about_section {
    
    position: relative;
    min-width: 320px;
    border-radius: $default_border_radius;
    width: 100%;
    background:   transparent linear-gradient(180deg, #002142 0%, #265082 100%) 0%
    0% no-repeat padding-box;

    opacity: 80%;
    
    transition: box-shadow 0.25s ease, transform 0.25s ease,
      -webkit-transform 0.25s ease;
    padding: $margin_from_div;
    text-align: center;
    margin-top: $margin_from_div;
    color: var(--unnamed-color-ffffff);
    font-size: 16px;
    opacity: 1;

    .sub_heading {
      margin-bottom: $margin_from_div;
      font: normal normal normal 20px/25px Raleway;
      font-weight: 400;
    }
    .para_space {
      padding: 0 40px;
      font-size: 12px;
      font-weight: 300;
      text-align: center;
      margin-bottom: 6px;
    }
  }
}

// lower_wrapper
.lower_wrapper {
  padding: $margin_from_div;
  color: #000000;
  a{
  color: #000000;
  // color: 
  }

  .how_to_install .sub-sec-heading{
    color: white;
  }


//faq__section
  .faq__section {
    width: 100%;
    margin-top: $margin_from_div;
    box-shadow: $default-box-shadow;
    border-radius: $default_border_radius;
  
    h5 {
      padding-top: $margin_from_div;
      font: normal normal normal 20px/25px Raleway;
      font-weight: 400;
    }
  
    .title-text {
      font-size: 12px;
    }
  }

  // footer section
  /* Footer section
  ----------------------*/
  .footer_wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: $margin_from_div;

    

    // down_load_btn
    .down_load_btn {
      display: flex;
      justify-content: center;
    }

    // footer_social_icons
    .footer_social_icons {
      padding: $margin_from_div 0px;


      //icons_heading
      .icons_heading {
        letter-spacing: 0.75px;

        small {
          margin-left: 4px;
        }
      }

      //social_icons
      .social_icons {
        display: flex;
        justify-content: center;

        //_icon_
        ._icon_ {
          width: 40px;
          height: 40px;
          display: grid;
          place-items: center;

          border: 1.25px solid #102f54;
          margin: 6px;
          border-radius: 50%;

          .fa-facebook {
            color: #102f54;;
          }

          .fa-twitter {
            color: #03a9f4;
          }
          .fa-instagram {
            color: #f65c2b;
          }

          .fa-youtube {
            color: #e53935;
          }
        }

        //_icon_: hover
        ._icon_:hover {
          cursor: pointer;
          border: 2px solid #fea900;
          transform: scale(1.25);
          transition: all 150ms ease-in-out;
        }
      }
    }
    //Footer nav-links
    .nav-items {
      line-height: 1.5;
      letter-spacing: 0px;
      text-transform: capitalize;
      font-size: 16px;

      // links-> li
      li {
        margin-bottom: 4px;
      }
      li:hover {
        cursor: pointer;
        transform: scale(1.25);
        transition: all 150ms ease-in-out;


      }
    }
  }
}




// media query for desktop
@media only screen   
and (min-width: 1030px)   
and (max-width: 1366px) {
  .primary_wrapper {
    width: 100%;
    background: none;

    .down_on_hero {
      position: absolute;
      left: 20%;
      top: 380px;
      transform: translateX(-20%);
    }

    .what-we-do-box {
      font-size: 18px;

      h5 {
        font-size: $primary-heading-size;
        font-weight: $primary-heading-font-weight;
      }
      p {
        text-align: center;
      }
    }

    .about_section .sub_heading {
      padding: 20px 0;
    }

    .how_to_install, .how_to_play, .about_section, .what_we_do {
      padding: 40px !important;

      .sub_heading {
        font-size: $primary-heading-size;
        font-weight: $primary-heading-font-weight;
      }

      .para {
        font-size: $secondary-font-size;
      }
    }
    .how_to_play {
      h4 {
      padding-top: 0px !important;
    }
  }

    .three_icons {
      .icon {
        width: 220px;
        height: 150px;
        border-radius: $default_border_radius;
      }
    }

    .mob-cara {
      display: none;
    }
  }


  .lower_wrapper, .is_primary_content {
    max-width: 900px;
    width: 100%;
    margin: 0 auto;
  }

  // .is_primary_content {
  // }
  .how_to_install {
    display: none;
  }
  .para_space {
    font-size: $secondary-font-size;
    font-style: round($number: 12);
    width: 78%;
    margin: 0 auto;
    margin-bottom: $margin_from_div !important;
  }
}

// Media query for small screens
@media only screen and (max-device-width: 480px) {

  .site-header {
    display: none;
  }
}




// Particle moving around
.temp_wrapper {
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
  background-color: linear-gradient(90deg, rgba(2, 0, .6, 1) 0%, rgba(9,9,3,0.5) 35%, rgba(9,9,121,1)  50%);

  h2 {
    font-family: serif;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 50px;
    color: #fff;
    margin: 0;
    text-transform: uppercase;
  }
  .box div{
    position: absolute;
    width: 30px;
    height: 30px;
    background-color: transparent;
  }

  .box div:nth-child(1){
    top: 88%;
    left: 42%;
    animation: animate 20s linear infinite;
    background-image: url("./images/floating/bulb.svg");
    background-size: 100% 100%; 
  }

  .box div:nth-child(2){
    top: 22%;
    left: 54%;
    animation: animate 45s linear infinite;
    background-image: url("./images/floating/brain.svg");
    background-size: 100% 100%; 
  }

  .box div:nth-child(3){
    top: 72%;
    left: 12%;
    animation: animate 26s linear infinite;
    background-image: url("./images/floating/cup\ \(1\).svg");
    background-size: 100% 100%; 
  }
  .box div:nth-child(4){
    top: 78%;
    left: 32%;
    animation: animate 27s linear infinite;
    background-image: url("./images/floating/question\ mark.svg");
    background-size: 100% 100%; 
  }
  .box div:nth-child(5){
    top: 72%;
    left: 72%;
    animation: animate 29s linear infinite;
    background-image: url("./images/floating/ribbon.svg");
    background-size: 100% 100%; 
  }

  .box div:nth-child(6){
    top: 92%;
    left: 42%;
    animation: animate 25s linear infinite;
    background-image: url("./images/floating/brain.svg");
    background-size: 100% 100%; 
  }
  .box div:nth-child(7){
    top: 62%;
    left: 14%;
    animation: animate 30s linear infinite;
    background-image: url("./images/floating/bulb.svg");
    background-size: 100% 100%; 
  }
  .box div:nth-child(8){
    top: 22%;
    left: 44%;
    animation: animate 27s linear infinite;
  }
  .box div:nth-child(9){
    top: 42%;
    left: 49%;
    animation: animate 29s linear infinite;
  }
  .box div:nth-child(10){
    top: 72%;
    left: 32%;
    animation: animate 29s linear infinite;
  }
  .box div:nth-child(11){
    top: 92%;
    left: 29%;
    animation: animate 29s linear infinite;
  }



}


@keyframes animate {
  0% {
    transform: scale(0) translateY(0) rotate(0);
    opacity: 0;
  }
  50% {
    transform: scale(1.5) translateY(0px) translateX(-180px) rotate(360deg);
    opacity: 0.5;
  }

  100% {
    transform: scale(1.5) translateY(0px) translateX(180px) rotate(360deg);
    opacity: 1;
  }
}
